<div class="container">
  <table class="table table-striped ">
    <thead>
      <tr>
        <th scope="col">no.</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Numero de celular</th>
        <th scope="col">Correo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{ indice + 1 }}</th>
        <td>{{ persona.nombre }}</td>
        <td>{{ persona.apellido }}</td>
        <td>{{ persona.numero_cel }}</td>
        <td>{{ persona.correo }}</td>
      </tr>
    </tbody>
  </table>
</div>
